.display {
  height: 100vh;
  width: 100vw;
}

.psuedo-nav-search-page {
  position: absolute;
  padding: 20px 60px;
  width: 100%;
  text-align: center;
}

.psuedo-nav-map-page {
  position: absolute;
  width: 100%;
  background-color: white;
  text-align: center;
}

.sign-in {
  float: right;
}

.about {
  float: left;
}

.btn {
  margin: 20px 10px;
  opacity: .6;
  border: 1px solid black !important
}

.btn:hover {
  opacity: 1;
}

.btn:focus{
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.search-box-center {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-center {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box-center {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  margin: 35px;
}
#current {
  color:green;  
}

#title-home {
  line-height: 80%;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
}

#sub-title {
  opacity: .8;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

#title-searched{
  margin: 0;
  display: inline-block;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 500px;
}

.form-group-side-nav{
  display: inline-block;
  margin: 0 !important;
  width:50% !important;
}



.form-control:focus { 
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}


@media screen and (max-width: 520px) {
  .form-group {
      width: 350px;
  }
}

#nav-btn {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

.side-nav {
  background-color:white;
  /* to be taken away */
  border: 1px solid black; 
  border-radius: 5px; 
  /* to be taken away */
  position: fixed;
  right:0;  
  height: 100%;
  width: 50%;
  overflow: scroll;
}

.side-nav-top-area {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

@media screen and (max-width: 992px) {
  .side-nav {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .side-nav {
    width: 70%;
  }
}

.side-card {
  margin: 20px 10px;
}

#score {
  float: right;
  font-size: 12px;
  padding-right: 20px;
}


#promoted {
  float: right;
  font-size: 14px;
  padding-right: 20px;
  color: yellowgreen;

}

.promoted {
  border-radius: 10px ;
  border: 1px solid black;
}

.promoted:hover {
  box-shadow: 0 0 11px rgba(6, 180, 0, 0.5);
}

.borderB {
  border-radius: 10px ;
  border: 1px solid black;
}

.borderB:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.3);
}

.side-card h5 {
  cursor: pointer;
  font-size: 22px;
}

.side-card p {
  font-size: 14px;
}

.side-nav ul {
  padding: 0;
}

.list {
  list-style-type: none;
}

.list p { 
  margin: 0;
}

.list h5 {
  margin: 0;
}

.horizontal-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-li {
 display: inline;
}

.horizontal-li a {
  color:black;
  opacity: .6;
  font-size: 12px;
}

.horizontal-li a:hover {
  color: black;
  opacity: 1;
}

.icon a {
  text-decoration: none !important;
}

.icons-list {
  margin-top: 10px;
  font-size: 12px;
}

.icon {
  border-radius: 10px;
  padding: 2px;
  margin-right:5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.map-container {
  position: fixed;
}

.google-map {
  width: 100%;
  height: 100%;
  background-image: url("./assets/fake-google-map-api.png");
  background-size: cover;
}

.map-page-title-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  float: left;
}

.map-page-button-container {
    margin-left: 20px;
}

@media screen and (max-width: 450px) {
  .map-page-button-container {
    margin-left: 0;
  }
}


.search-bar-map-page {
  margin-top: 20px;
  margin-right: 40px;
  float:right;
}

@media screen and (max-width:980px) {
  .search-bar-map-page {
    float: none; 
    margin: 0;
  }

  .map-page-title-button-container {
    float: none;
    margin: 5px;
  }
  .btn {
    margin: 10px 5px;
  }
}

#login-btn {
  background-color: green !important;
  border: none !important;
}


/* ABOUT PAGE FORMATTING  */

.about-field {
  padding: 30px;
  margin: 0 15%;
}

@media screen and (max-width: 750px) {
  .about-field {
    margin: 0 4%;
    padding: 10px;
  }
}

.about-field h5 {
  color: green;
  padding-left: 20px;
  padding-top: 10px;
  opacity: .6;
}

.about-field h3 {
  color: green;
  padding-left: 10px
}

.about-field p {
  font-size: 15px;
  padding-left: 20px
}

.results-text-box {
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 1131px) {
  .results-text-box {
    display: none;
  }
}